<h2>Add New Supplier</h2>
<form method="POST" action="/supplier/new">
  <div>

    <div>
      <label for="company_name">Company name:</label>
      <input type="text" name="company_name" id="company_name"/>
    </div>

    <div>
      <label for="company_description">Description of company:</label>
      <input type="text" name="company_description" id="company_description"/>
    </div>

    <div>
      <label for="contact_number">Contact number:</label>
      <input type="text" name="contact_number" id="contact_number"/>
    </div>

    <br>
    <div>
      <input type = "submit"
             value = "add product">
      </div>

  </div>
</form>
