<h2>Add New Product</h2>
<form method="POST" action="/product/new">
  <div>

    <div>
      <label for="name">Product Name:</label>
      <input type="text" name="name" id="name"/>
    </div>

    <div>
      <label for="description">Product Description:</label>
      <input type="text" name="description" id="description"/>
    </div>

    <div>
      <label for="stock">Current Stock:</label>
      <input type="number" name="stock" id="stock"/>
    </div>

    <div>
      <label for="price">Price to buy:</label>
      <input type="number" min="0.01" step="0.01" name="price" id="price"/>
    </div>

    <div>
      <label for="sell_price">Sell Price:</label>
      <input type="number" min="0.01" step="0.01" name="sell_price" id="sell_price"/>
    </div>

    <div>
      <label for="supplier_id">Supplier:</label>
      <select name="supplier_id" id="supplier_id">
        <% @suppliers.each do |supplier| %>
            <option value=<%= supplier.id %>><%= supplier.company_name %></option>
        <% end %>
      </select>
    </div>

    <br>
    <div>
      <input type = "submit"
             value = "add product">
      </div>

  </div>
</form>
