<h2>Suppliers</h2>

<div>
  <% @suppliers.each do |supplier| %>

  <div>
    <h3><a href="/product/supplier_of_product/supplier_details/<%=supplier.id%>"><%= supplier.company_name %></a></h3>
  </div>

  <% end %>

  <h3><a href="/suppliers/new">Add supplier</a></h3>

</div>
